apipkg==1.5
appdirs==1.4.3
Appium-Python-Client==0.30
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
certifi==2018.10.15
cffi==1.12.3
chardet==3.0.4
colorama==0.4.1
cryptography==2.7
enum34==1.1.6
execnet==1.5.0
funcsigs==1.0.2
idna==2.7
importlib-metadata==0.23
ipaddress==1.0.22
more-itertools==4.3.0
olefile==0.46
packaging==18.0
pathlib2==2.3.2
Pillow==9.0.0
pluggy==0.13.0
prometheus-client==0.4.2
py==1.7.0
pycparser==2.19
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
pytest==5.1.1
pytest-forked==0.2
pytest-xdist==1.24.0
pytz==2018.7
requests==2.20.0
requests-toolbelt==0.8.0
scandir==1.9.0
selenium==3.141.0
six==1.11.0
twilio==6.19.2
urllib3>=1.24.2
virtualenv==16.7.5
wcwidth==0.1.7
zipp==0.6.0
